<div class="rounded-lg bg-card text-card-foreground">
    <div class="flex flex-col space-y-1.5">
        <div class="flex items-center justify-between gap-x-2 gap-y-2 text-base">
            <h3 class="inline-flex flex-wrap items-center gap-x-1 gap-y-2 font-semibold leading-none">
                <a class="gap-x-2 hover:underline" > Eyeo GmbH </a>
                    <span class="">
                        <div class="inline-flex items-center rounded-md border px-2 py-0.5 font-semibold font-mono transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-nowrap border-transparent bg-secondary text-secondary-foreground hover:bg-secondary/60 align-middle text-xs">
                            Remote, Canada
                        </div>
                    </span>
                </h3>
                <div class="flex-0 text-sm tabular-nums text-gray-500">
                    June 2022<!-- --> - <!-- -->Present
                </div>
            </div>
            <h4 class="font-mono text-sm leading-none">Senior Data Scientist</h4>
        </div>
        <div class="text-pretty font-mono text-muted-foreground mt-2 text-xs">
            Insert Text here
</div>