<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTML Template</title>
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
</head>

<body id="home">
    <h1> Whats up im Arun </h1>
    <h2> This is my corner of the internet </h2>
    <p> I write things from time to time -> <button hx-get = '/writings' hx-swap="outerHTML" hx-target="#home">Writings</button></p>
    <p> I have a reading list im bad at getting through-> <button hx-get = '/readings' hx-swap="outerHTML" hx-target="#home">Readings 😭</button></p>
</body>
</html> 

