<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aruns website</title>
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<body id="home" style="font-family: monospace">
    <button hx-get="/" hx-swap="outerHTML" hx-target="#home" style="font-family: monospace">Go Home</button>
    <h1> I have some nba stats here </h1>

    <h2> see the player breakdown of a team below </h2>
    
    <form hx-get="/nba/team" hx-target="#team_table" hx-swap="outerHTML">
        <select name="team" required>
            <option value="">Select Team</option>
            {{ html_options | safe }}
        </select>
        <input type="number" name="year" placeholder="2024" required>
        <button type="submit">Get Player Averages</button>
    </form>

    <div id="team_table" style="font-family: monospace">
        {{ content|safe }}
    </div>

</body>
</html> 

