<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aruns website</title>
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<body id="home" style="font-family: monospace">
    <h1> Workout </h1>
    <p> I've been working out for several years now, all over the place and I need to find what works for me.
        I've tried bodybuilding, powerlifiting, functional, kettlebell, cardio only. 
        I need a hybrid style, I've been in this game long enough to come up with my own plan</p>

    <p> What do I want to focus on? Well what do I know about training? You can only really train one thing at a time and at 
        say anywhere from 4-12 week working blocks. If I want to focus on mobility, stability, strength, endurance, size, explosiveness
        Then I will need to group things up and train them together because the other limitations on my program are as such 

        4 days a week max, flexible enough that it can just be picked up and done like if I skip a day its not like everything is 
        ruined. Full body every time. 

        I need to train abs every time (because I NEVER trained them before and that was bad)
        I need to train cardio everytime
        I need to warm up everytime 

        Stretch in between sets
        no head phones dawg :o 
         
    </p>
    <button hx-get="/" hx-swap="outerHTML" hx-target="#home" style="font-family: monospace">Go Home</button>
    <p> checkout my other work -> <button hx-get = '/writings' hx-swap="outerHTML" hx-target="#home" style="font-family: monospace">Writings</button></p>

    <ul>
        {% for link in links %}
        <li><a href="{{ link }}" style="font-family: monospace">{{ link }}</a></li>
        {% endfor %}
    </ul>
    
</body>
</html> 




