<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aruns website</title>
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<body id="home" style="font-family: monospace">
    <h1> i wrote some stuff below </h1>
    <p> I have an extensive reading list -> <button hx-get = '/readings' hx-swap="outerHTML" hx-target="#home" style="font-family: monospace" hx-push-url="true">Readings 😭</button></p>
    <button hx-get="/" hx-swap="outerHTML" hx-target="#home" style="font-family: monospace" hx-push-url="true">Go Home</button>
    <div id="articles" style="font-family: monospace">
        <ul>
            {% for notebook_file in notebook_files %}
            <li><a 
                href="/notebook/{{ notebook_file }}" 
                hx-get="/notebook/{{ notebook_file }}"
                hx-swap="outerHTML"
                hx-target="#home"
                style="font-family: monospace"
                hx-push-url="true"
                >{{ notebook_file }}</a></li>
            {% endfor %}
        </ul>
    </div>
    
</body>
</html> 


